html
    head 
        title Forgot Password
        link(rel="stylesheet", type="text/css", href="../static/css/site.css")
    body 
        
        div.forgot-password-container
            div
                h1 Forgot Password 
                p Please enter your email. We will send you a password reset link to entered email.
                form(action="/auth/forgot-password", method="post")
                    p Email:
                    input(type="email", name="email")
                    hr
                    input(type="submit", value="Reset password")