html
    head 
        title Email Verification
    body 
        h1 Email Verification
        if emailVerified 
            h2 Email verified successfully 
        else
            h2 Email verification was not successful