html
    head 
        title Forgot Password
    body 
        h1 Forgot Password 
        div
            form(action="/auth/forgot-password", method="post")
                p Email:
                input(type="email", name="email")
                hr
                input(type="submit", value="Reset password")