html
    head 
        title Login
    body 
        h1 Login
        div 
            form(action="/login", method="post")
                p Username:
                input(type="text", name"username")
                p Password:
                input(type="password", name="password")
                hr
                input(type="submit", value="Login")  