html
    head 
        title Register
        link(rel="stylesheet", type="text/css", href="../static/css/site.css")
    body 
        h1 Register 
        div 
            if errorMessages 
                each message in errorMessages 
                    div.text-error #{message}
            if validationErrors
                each message in validationErrors 
                    div.text-error #{message}
        div.register-form-container 
            form(action="/auth/register", method="post")
                p Username:
                input(type="text", name="username")
                p Email:
                input(type="text", name="email")
                p Password:
                input(type="password", name="password")
                p Repeat Password:
                input(type="password", name="repeat-password") 
                hr
                input(type="submit", value="Register")